* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
}

#list_box{
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 300px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space:nowrap;
    border: 5px solid orange;
}

#heading_box {
    border: 5px solid green;
    background-color: gray;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    /* min-height: 90%; */
    width: 70%;
    margin: 15px;
}

#form_box {
    border: 5px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 90%;
}

#destination_form {
    width: 50%;
}

#submit_button {
    width: 100%;
}

#cards_box {
    border: 5px solid blue;
    width: 100%;
}

#cards_heading {
    border: 5px solid purple;
    margin: 8PX;
    height: auto;
    padding: 10px;
    display: flex;
}

#card_box {
    border: 5px solid yellow;
    margin: 8PX;
    /* min-height: auto; */
}